<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thank You</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <style>
    /* Custom CSS to style the tick mark */
    .tick-mark {
      color: green;
      font-size: 48px;
    }
    .thank-you-img{
        height: 150px;
        width: 280px;
    }
  </style>
</head>
<body>

<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
  <div class="text-center">
    <img src="/static/images/tick mark.jpg" class="thank-you-img" alt="">
    <h1>Thank You</h1>
  </div>
</div>

</body>
</html>
